@charset 'UTF-8';

@import url("cssreset.css");
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

main {
  padding: 16px;
}

.bg-image-big {
  background-image: url("/assets/01.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

a:link,
a:visited {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  position: relative;
  top: 1px;
  left: 1px;
}

.hover-color {
  color: #ff6600 !important;
}

header {
  width: 100%;
  padding: 20px;
  background: rgb(0, 0, 0);
  /* background: linear-gradient( 
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(87, 87, 87, 1) 20%,
    rgba(0, 0, 0, 1) 100%
  ); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header h1 {
  text-align: center;
  font-size: 24px;
  color: white;

  /* text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2); */
}

footer {
  position: fixed;
  bottom: 0;
  background-color: black;

  color: white;
  width: 100%;
  padding: 20px;
  background: rgb(0, 0, 0);
  /* background: linear-gradient( 
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(87, 87, 87, 1) 80%,
    rgba(0, 0, 0, 1) 100% 
  ); */
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav a .hover-state {
  display: none;
}

nav a:hover .hover-state {
  display: block;
  color: white;
}
nav a:hover .active-state {
  display: none;
}

nav ion-icon {
  font-size: 32px;
}

.spacerline:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  width: 1px;
  height: 30px;
  top: 0px;
  left: 0px;
  display: inline-block;
}

/* ------------ Card ------------- */
.card {
  position: relative;
  border-radius: 20px;
  background-color: white;
  min-height: 200px;
  box-shadow: 5px 5px 19px 5px rgba(0, 0, 0, 0.15);

  margin-bottom: 16px;
  padd-ing: 24px;
}
.card h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.card button {
  padding: 8px 16px;
  margin: 8px 0;
  background-color: #ff6600;
  border: none;
  border-radius: 16px;
}

.card li {
  padding: 8px 16px;
  margin: 8px 0;
  background-color: rgb(255, 127, 153);
  border: none;
  border-radius: 16px;
}

.card ul {
  justify-content: space-between;
}

.card-top {
  background-color: whitesmoke;
  border-radius: 20px 20px 0 0;
  padding: 20px;
}
.card-tags {
  display: flex;
  flex-wrap: wrap;
}
.card-tags li {
  font-size: 10px;
}

.card-bottom {
  padding: 20px;
}

/* --- Bookmark --- */
.card .bookmark {
  position: absolute;
  right: 10px;
  top: -10px;
}

.card .bookmark a {
  font-size: 48px;
  color: black;
}

.card .hover-state {
  display: none;
}

.card a:hover .hover-state {
  display: block;
  color: rgb(0, 0, 0);
}
.card a:hover .active-state {
  display: none;
}
